extends email-layout

block body
  p
    strong Hi there, 
    | You're invited!
    br
  h2.h2 #{zoink.title}
  b What: 
  | #{zoink.desc}
  b Where: 
  | #{zoink.location}
  b When: 
  | #{zoink.startsAt} - #{zoink.endsAt}
  p 
    a(href="Click here to view the event and RSVP